-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: Hall_Mgmt
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `complaint`
--

DROP TABLE IF EXISTS `complaint`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `complaint` (
  `Student_ID` bigint NOT NULL,
  `Complaint_ID` bigint NOT NULL AUTO_INCREMENT,
  `Description` varchar(500) NOT NULL,
  `Time` datetime NOT NULL,
  `Status` tinyint NOT NULL,
  PRIMARY KEY (`Complaint_ID`),
  KEY `com_stdid_fk` (`Student_ID`),
  CONSTRAINT `com_stdid_fk` FOREIGN KEY (`Student_ID`) REFERENCES `resident` (`Student_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `complaint`
--

LOCK TABLES `complaint` WRITE;
/*!40000 ALTER TABLE `complaint` DISABLE KEYS */;
INSERT INTO `complaint` VALUES (202314016,1,'AC not working','2025-02-10 08:30:00',1),(202314029,2,'Water supply issue','2025-02-11 07:45:00',1),(202314030,3,'Noise complaint','2025-02-12 22:15:00',0),(202314053,4,'Internet connectivity problem','2025-02-13 15:20:00',1);
/*!40000 ALTER TABLE `complaint` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `complaint_resolution`
--

DROP TABLE IF EXISTS `complaint_resolution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `complaint_resolution` (
  `Resolution_ID` bigint NOT NULL AUTO_INCREMENT,
  `Complaint_ID` bigint NOT NULL,
  `Receive_Time` datetime NOT NULL,
  PRIMARY KEY (`Resolution_ID`),
  KEY `cre_comid_fk` (`Complaint_ID`),
  CONSTRAINT `cre_comid_fk` FOREIGN KEY (`Complaint_ID`) REFERENCES `complaint` (`Complaint_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `complaint_resolution`
--

LOCK TABLES `complaint_resolution` WRITE;
/*!40000 ALTER TABLE `complaint_resolution` DISABLE KEYS */;
INSERT INTO `complaint_resolution` VALUES (1,2,'2025-02-11 09:00:00'),(2,4,'2025-02-13 16:30:00'),(3,1,'2025-02-15 11:00:00');
/*!40000 ALTER TABLE `complaint_resolution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events` (
  `Event_ID` bigint NOT NULL AUTO_INCREMENT,
  `Type` varchar(25) NOT NULL,
  `Date` datetime NOT NULL,
  `Description` varchar(500) NOT NULL,
  `Student_ID` bigint NOT NULL,
  PRIMARY KEY (`Event_ID`),
  KEY `eve_stdid_fk` (`Student_ID`),
  CONSTRAINT `eve_stdid_fk` FOREIGN KEY (`Student_ID`) REFERENCES `resident` (`Student_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
INSERT INTO `events` VALUES (1,'Academic','2025-02-01 09:00:00','Updated: Semester Registration Complete',202314016),(2,'Social','2025-02-02 18:00:00','Cultural Night',202314029),(3,'Sports','2025-02-03 16:00:00','Football Match',202314030),(4,'Academic','2025-02-04 10:00:00','Workshop Attendance',202314053);
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
INSERT INTO `flyway_schema_history` VALUES (1,'1','<< Flyway Baseline >>','BASELINE','<< Flyway Baseline >>',NULL,'WasifDarain','2025-08-06 08:25:18',0,1);
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `found_item`
--

DROP TABLE IF EXISTS `found_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `found_item` (
  `Found_ID` bigint NOT NULL,
  `Lost_ID` bigint NOT NULL,
  `Found_Time` datetime NOT NULL,
  PRIMARY KEY (`Found_ID`),
  KEY `fou_losid_fk` (`Lost_ID`),
  CONSTRAINT `fou_losid_fk` FOREIGN KEY (`Lost_ID`) REFERENCES `lost_item` (`Lost_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `found_item`
--

LOCK TABLES `found_item` WRITE;
/*!40000 ALTER TABLE `found_item` DISABLE KEYS */;
INSERT INTO `found_item` VALUES (1001,1,'2025-02-25 12:30:00'),(1002,3,'2025-02-26 15:30:00'),(1004,2,'2025-02-28 13:20:00');
/*!40000 ALTER TABLE `found_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall`
--

DROP TABLE IF EXISTS `hall`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hall` (
  `Hall_No` tinyint NOT NULL,
  `Place` varchar(25) NOT NULL,
  PRIMARY KEY (`Hall_No`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall`
--

LOCK TABLES `hall` WRITE;
/*!40000 ALTER TABLE `hall` DISABLE KEYS */;
INSERT INTO `hall` VALUES (1,'Osmany Male Updated'),(2,'Osmany Female');
/*!40000 ALTER TABLE `hall` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item`
--

DROP TABLE IF EXISTS `item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item` (
  `Item_ID` bigint NOT NULL AUTO_INCREMENT,
  `Item_Type` varchar(25) NOT NULL,
  PRIMARY KEY (`Item_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item`
--

LOCK TABLES `item` WRITE;
/*!40000 ALTER TABLE `item` DISABLE KEYS */;
INSERT INTO `item` VALUES (1,'Smartphone'),(2,'Laptop'),(3,'Wallet'),(4,'Watch');
/*!40000 ALTER TABLE `item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lost_item`
--

DROP TABLE IF EXISTS `lost_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lost_item` (
  `Student_ID` bigint NOT NULL,
  `Item_ID` bigint NOT NULL,
  `Lost_ID` bigint NOT NULL AUTO_INCREMENT,
  `Description` varchar(500) NOT NULL,
  `Lost_Time` datetime NOT NULL,
  PRIMARY KEY (`Lost_ID`),
  KEY `los_stdid_fk` (`Student_ID`),
  KEY `los_itmid_fk` (`Item_ID`),
  CONSTRAINT `los_itmid_fk` FOREIGN KEY (`Item_ID`) REFERENCES `item` (`Item_ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `los_stdid_fk` FOREIGN KEY (`Student_ID`) REFERENCES `resident` (`Student_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lost_item`
--

LOCK TABLES `lost_item` WRITE;
/*!40000 ALTER TABLE `lost_item` DISABLE KEYS */;
INSERT INTO `lost_item` VALUES (202314016,1,1,'Samsung Galaxy S21 - Black Color','2025-02-20 14:30:00'),(202314029,2,2,'MacBook Pro 13 inch','2025-02-21 10:15:00'),(202314030,3,3,'Black leather wallet','2025-02-22 16:45:00');
/*!40000 ALTER TABLE `lost_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resident`
--

DROP TABLE IF EXISTS `resident`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resident` (
  `Student_ID` bigint NOT NULL,
  `Resident_ID` bigint NOT NULL,
  `Date` datetime NOT NULL,
  PRIMARY KEY (`Student_ID`),
  CONSTRAINT `res_stdid_fk` FOREIGN KEY (`Student_ID`) REFERENCES `student_info` (`Student_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resident`
--

LOCK TABLES `resident` WRITE;
/*!40000 ALTER TABLE `resident` DISABLE KEYS */;
INSERT INTO `resident` VALUES (202314016,3001,'2025-01-20 12:00:00'),(202314029,3002,'2025-01-16 11:30:00'),(202314030,3003,'2025-01-17 09:15:00'),(202314053,3004,'2025-01-18 14:20:00');
/*!40000 ALTER TABLE `resident` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room`
--

DROP TABLE IF EXISTS `room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room` (
  `Room_No` smallint NOT NULL,
  `Hall_No` tinyint NOT NULL,
  PRIMARY KEY (`Room_No`),
  KEY `roo_halno_fk` (`Hall_No`),
  CONSTRAINT `roo_halno_fk` FOREIGN KEY (`Hall_No`) REFERENCES `hall` (`Hall_No`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room`
--

LOCK TABLES `room` WRITE;
/*!40000 ALTER TABLE `room` DISABLE KEYS */;
INSERT INTO `room` VALUES (201,1),(101,2),(301,2);
/*!40000 ALTER TABLE `room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_allocation`
--

DROP TABLE IF EXISTS `room_allocation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room_allocation` (
  `Allocation_ID` bigint NOT NULL AUTO_INCREMENT,
  `Student_ID` bigint NOT NULL,
  `Room_No` smallint NOT NULL,
  `Hall_No` tinyint NOT NULL,
  PRIMARY KEY (`Allocation_ID`),
  KEY `ral_stdid_fk` (`Student_ID`),
  KEY `ral_romno_fk` (`Room_No`),
  KEY `ral_halno_fk` (`Hall_No`),
  CONSTRAINT `ral_halno_fk` FOREIGN KEY (`Hall_No`) REFERENCES `hall` (`Hall_No`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ral_romno_fk` FOREIGN KEY (`Room_No`) REFERENCES `room` (`Room_No`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ral_stdid_fk` FOREIGN KEY (`Student_ID`) REFERENCES `resident` (`Student_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_allocation`
--

LOCK TABLES `room_allocation` WRITE;
/*!40000 ALTER TABLE `room_allocation` DISABLE KEYS */;
INSERT INTO `room_allocation` VALUES (1,202314016,101,1),(2,202314029,201,1),(3,202314030,301,2);
/*!40000 ALTER TABLE `room_allocation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_info`
--

DROP TABLE IF EXISTS `student_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_info` (
  `Student_ID` bigint NOT NULL,
  `Name` varchar(40) NOT NULL,
  `Password` varchar(40) NOT NULL,
  `Serial_No` bigint NOT NULL,
  `Department` varchar(40) NOT NULL,
  `Level` tinyint NOT NULL,
  `Address` varchar(128) NOT NULL,
  `Phone_No` varchar(25) NOT NULL,
  `Relative_Name` varchar(40) NOT NULL,
  `Relative_Address` varchar(128) NOT NULL,
  `Relative_Relation` varchar(25) NOT NULL,
  `Relative_Phone_No` varchar(25) NOT NULL,
  PRIMARY KEY (`Student_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_info`
--

LOCK TABLES `student_info` WRITE;
/*!40000 ALTER TABLE `student_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visitor_entry`
--

DROP TABLE IF EXISTS `visitor_entry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `visitor_entry` (
  `Student_ID` bigint NOT NULL,
  `Visitor_ID` bigint NOT NULL AUTO_INCREMENT,
  `Name` varchar(40) NOT NULL,
  `Phone_No` varchar(25) NOT NULL,
  `Relation` varchar(25) NOT NULL,
  PRIMARY KEY (`Visitor_ID`),
  KEY `vis_stdid_fk` (`Student_ID`),
  CONSTRAINT `vis_stdid_fk` FOREIGN KEY (`Student_ID`) REFERENCES `resident` (`Student_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visitor_entry`
--

LOCK TABLES `visitor_entry` WRITE;
/*!40000 ALTER TABLE `visitor_entry` DISABLE KEYS */;
INSERT INTO `visitor_entry` VALUES (202314016,1,'Adib Best Friend','01766666666','Cousin'),(202314029,2,'Shakib Friend','01777777777','Friend'),(202314030,3,'Akhi Aunt','01788888888','Aunt'),(202314053,4,'Wasif Colleague','01799999999','Colleague');
/*!40000 ALTER TABLE `visitor_entry` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-11  6:43:21
